<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
  </apikeys>
  <packageSources>
    <add key="NuGet official package source https://nuget.org/api/v2/" value="" />
    <add key="DotNetWise" value="http://nuget.dotnetwise.com/" />
  </packageSources>
</configuration> 