<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <apikeys>
    <add key="http://nuget.dotnetwise.com/" value="dnwoffice" />
    <add key="https://nuget.org/api/v2/" value="a24a0f0b-a8b5-468f-ad8e-6cf08294cb87" />
  </apikeys>
  <packageSources>
    <add key="NuGet official package source" value="https://nuget.org/api/v2/" />
    <add key="DotNetWise" value="http://nuget.dotnetwise.com/" />
  </packageSources>
</configuration> 